.containerDisabled {
    cursor: not-allowed;
}
.button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #4392f1;
    font-weight: 400;
    cursor: pointer;
    padding: 7px 10px;
    min-width: 100px;
    border-radius: 5px;
}

.primary {
    background: #4392f1;
    color: #FFF;
}

.secondary {
    color: #4392f1;
    background: #FFF;
}

.disabled {
    border: 1px solid #8a8a8a;
    background-color: #8a8a8a;
    pointer-events: none;
}

.lg {
    font-size: 14px;
    padding: 7px 10px;
}

.md {
    font-size: 16px;
    padding: 7px 13px;
}


.lg {
    font-size: 18px;
    padding: 7px 16px;
}
