.avatar {
    border-radius: 50%;
    background-color: #4392F1;
    color: #ece8ef;
    box-sizing: border-box;
    cursor: pointer;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
