.content {
    overflow: auto;
}

.content img {
    max-width: 100%;
}

.modal {
    height: 93%;
    min-width: 100%;
    border-radius: 0;
    margin-top: 65px;
    z-index: 1;
}

.modalContainer {
    padding: 0 200px;
    z-index: 1;
}

@media only screen and (max-width: 900px) {
    .modalContainer {
        padding: 0 80px;
    }
}

@media only screen and (max-width: 600px) {
    .modalContainer {
        padding: 0 40px;
    }
}

@media only screen and (max-width: 500px) {
    .modalContainer {
        padding: 0;
    }
}