.container {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0 10px;
}

.titleText {
    font-weight: 900;
    font-size: 24px
}

.manageFeedBtn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #4392f1;
    background: transparent;
    font-weight: 400;
    color: #4392f1;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
}

.cardsContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 10px;
    overflow-y: auto;
    padding: 0 10px;
}

.cardsContainer > div {
    margin: 10px 0;
}

.backButton {
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
}
